@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-800 antialiased;
}

h1, h2, h3 {
  letter-spacing: -0.02em;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 96px; /* tinggi navbar + napas */
}